[Unit]
Description=%i dropbox include service
Requires=dropbox@.service
After=local-fs.target network.target

[Service]
Type=simple
Restart=on-failure
RestartSec=10s
User=%i
Group=%i
WorkingDirectory=%h
ExecStart=%h/Development/python/dropbox/dropbox_include.py
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=default.target 
