[Unit]
Description=Dropbox include service
Requires=dropbox@.service
After=local-fs.target network.target

[Service]
Type=simple
Restart=on-failure
RestartSec=10s
WorkingDirectory=/root
ExecStart=/root/.dropbox-dist/dropbox_include.py
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=default.target 
